.shop-menu{
    float: right;
    margin-top: 20px;
}

@media only screen and (max-width: 992px)
{
    .shop-menu{
        float: none ;
        margin-top: 0;
    }
}

  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    position: relative;
  }
  .fr-slider .slides li{
    opacity: 100;
  }