
<!-- Header - start -->
<header class="header">

	<!-- Topbar - start -->
	<div class="header_top">
		<div class="container">
			<ul class="contactinfo nav nav-pills">
				<li>
					<i class='fa fa-phone'></i> (123) 4564-515
				</li>
				<li>
					<i class="fa fa-envelope"></i> admin@admin.com
				</li>
			</ul>
			<!-- Social links -->
<ul class="social-icons nav navbar-nav">
	<li>
		<a href="http://facebook.com/" rel="nofollow" target="_blank">
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	<li>
		<a href="http://google.com/" rel="nofollow" target="_blank">
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	<li>
		<a href="http://twitter.com/" rel="nofollow" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	<li>
		<a href="http://vk.com/" rel="nofollow" target="_blank">
			<i class="fa fa-vk"></i>
		</a>
	</li>
	<li>
		<a href="http://instagram.com/" rel="nofollow" target="_blank">
			<i class="fa fa-instagram"></i>
		</a>
	</li>
</ul>		</div>
	</div>
	<!-- Topbar - end -->

	<!-- Logo, Shop-menu - start -->
    <div id="stickyheader" class="{{header}}" style="z-index: 999;background-color: white;">
    
	<div class="header-middle ">
		<div class="container header-middle-cont">
			<div class="toplogo">
				<a href="./">
					<img src="assets/img/logo-default.png" alt="AllStore - MultiConcept eCommerce Template" height="30">
				</a>
			</div>
			<div class="shop-menu">
				<ul>


					<!-- <li>
						<a href="compare.html">
							<i class="fa fa-bar-chart"></i> 
							<span class="shop-menu-ttl">Compare</span> (5)
						</a>
					</li> -->

					<li class="topauth">
						<a  href="javascript:void(0)" [routerLink]="['registration']">
							<i class="fa fa-lock"></i> 
							<span class="shop-menu-ttl">Registration</span>
						</a>
						<a href="javascript:void(0)" [routerLink]="['registration']">
							<span class="shop-menu-ttl">Login</span>
						</a>
					</li>

					<li>
						<a href="javascript:void(0)" [routerLink]="['wishlist']">
							<i class="fa fa-heart"></i> 
							<span class="shop-menu-ttl">Wishlist</span> 
							(<span id="topbar-favorites">1</span>)
						</a>
					</li>

					<li>
						<div class="h-cart">
							<a href="javascript:void(0)" [routerLink]="['cart']"> 
								<i class="fa fa-shopping-cart"></i> 
								<span class="shop-menu-ttl">Cart</span>
								(<b>0</b>)
							</a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- Logo, Shop-menu - end -->

	<!-- Topmenu - start -->
	<div class="header-bottom">
		<div class="container">
			<nav class="topmenu">

	<!-- Catalog menu - start -->
	<div class="topcatalog">
		<a class="topcatalog-btn" href="javascript:void(0)" [routerLink]="['category-list']"><span>All</span> catalog</a>
		<ul class="topcatalog-list">
			<li>
				<a href="javascript:void(0)" [routerLink]="['category-list']">
					Brown Lines
				</a>
				<i class="fa fa-angle-right"></i>					
				<ul>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							TV
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							LED TV
						</a>
					</li>
					<!-- <li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Bags
						</a>
						<i class="fa fa-angle-right"></i>					
						<ul>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Shoulder Bags
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Falabella
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Becks
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Clutches
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Travel Bags
								</a>
							</li>
						</ul>
					</li> -->
					<!-- <li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Accessories
						</a>
						<i class="fa fa-angle-right"></i>					
						<ul>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Sunglasses
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Tech Cases
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Jewelry
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" [routerLink]="['category-list']">
									Stella
								</a>
							</li>
						</ul>
					</li> -->
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Components
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Speaker System
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Living Room Appliances
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" [routerLink]="['category-list']">
					White Lines
				</a>
				<i class="fa fa-angle-right"></i>					
				<ul>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Aircon
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Refirgator
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Washing Machine
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Freezers Kitchen Wares
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Kitchen Wares
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" [routerLink]="['category-list']">
					Furnitures
				</a>
				<i class="fa fa-angle-right"></i>
				<ul>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Bed
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Sofa
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Mattress Foam
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Living Room Showcase
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Cabinets
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Dressers
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" [routerLink]="['category-list']">
					Gadgets
				</a>
				<i class="fa fa-angle-right"></i>					
				<ul>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Laptop
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" [routerLink]="['category-list']">
							Mobile Phones
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Catalog menu - end -->

	<!-- Main menu - start -->
	<button type="button" class="mainmenu-btn">Menu</button>
	
	<ul class="mainmenu">
		<li>
			<a href="./">
				Home
			</a>
		</li>
		<!-- <li class="menu-item-has-children">
			<a href="javascript:void(0)" [routerLink]="['category-list']">
				Catalog <i class="fa fa-angle-down"></i>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="javascript:void(0)" [routerLink]="['category-list']">
						Catalog List - Style 1
					</a>
				</li>
				<li>
					<a href="catalog-list-2.html">
						Catalog List - Style 2
					</a>
				</li>
				<li>
					<a href="catalog-gallery.html">
						Catalog Gallery - Style 1
					</a>
				</li>
				<li>
					<a href="catalog-gallery-2.html">
						Catalog Gallery - Style 2
					</a>
				</li>
				<li>
					<a href="catalog-table.html">
						Catalog Table
					</a>
				</li>
			</ul>
		</li> -->
		<li class="menu-item-has-children">
			<a href="javascript:void(0)" [routerLink]="['product']">
				Product <i class="fa fa-angle-down"></i>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="javascript:void(0)" [routerLink]="['product']">
						Product
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="elements.html">
				Brands
			</a>
		</li>
		
		
		<li class="mainmenu-more">
			<span>...</span>
			<ul class="mainmenu-sub"></ul>
		</li>
	</ul>
	<!-- Main menu - end -->

	<!-- Search - start -->
	<div class="topsearch">
		<a id="topsearch-btn" class="topsearch-btn" href="#"><i class="fa fa-search"></i></a>
		<form class="topsearch-form" action="#">
			<input type="text" placeholder="Search products">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
	<!-- Search - end -->

</nav>		</div>
	</div>
</div>
	<!-- Topmenu - end -->

</header>
<div style="height: 190px;" *ngIf="header=='sticky'"></div>
<router-outlet class="content"></router-outlet>
<!-- Footer - start -->
<footer class="footer-wrap">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="companyinfo">
					<a href="index.html">
						<img src="assets/img/logo-default.png" alt="AllStore - MultiConcept eCommerce Responsive HTML5 Template">
						AllStore - MultiConcept eCommerce Responsive HTML5 Template
					</a>
				</div>
				<div class="f-block-list">
					<div class="f-block-wrap">
						<div class="f-block">
							<a href="#" class="f-block-btn" data-id="#f-block-modal-1">
								<div class="iframe-img">
									<img src="assets/img/footer/1.jpg" alt="About us">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-info-circle"></i>
								</div>
							</a>
							<p class="f-info-ttl">About us</p>
							<p>Shipping and payment information.</p>
						</div>
					</div>
					<div class="f-block-wrap">
						<div class="f-block">
							<a href="#" class="f-block-btn" data-id="#f-block-modal-2">
								<div class="iframe-img">
									<img src="assets/img/footer/2.jpg" alt="Ask questions">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-phone"></i>
								</div>
							</a>
							<p class="f-info-ttl">Ask questions</p>
							<p>We call back within 10 minutes</p>
						</div>
					</div>
					<div class="f-block-wrap">
						<div class="f-block">
							<a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/kaOVHSkDoPY?rel=0&amp;showinfo=0' allowfullscreen></iframe>">
								<div class="iframe-img">
									<img src="assets/img/footer/3.jpg" alt="Video (2 min)">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle"></i>
								</div>
							</a>
							<p class="f-info-ttl">Video (2 min)</p>
							<p>Watch a video about our store</p>
						</div>
					</div>
					<div class="f-block-wrap">
						<div class="f-block">
							<a href="#" class="f-block-btn" data-id="#f-block-modal-4">
								<div class="iframe-img">
									<img src="assets/img/footer/4.jpg" alt="Our address">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-map-marker"></i>
								</div>
							</a>
							<p class="f-info-ttl">Our address</p>
							<p>Spain, Madrid, 45</p>
						</div>
					</div>
				</div>

				<div class="stylization f-block-modal f-block-modal-content" id="f-block-modal-1">
					<img class="f-block-modal-img" src="assets/img/footer/modal.jpg" alt="About us">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus iste ullam vero, tenetur ab ipsa consectetur deleniti officiis ex debitis incidunt alias voluptatum, maxime placeat dolores veniam sunt at atque velit, soluta. Neque ea alias quia provident molestias, ratione aut esse placeat beatae sequi sed laudantium. Unde animi nihil esse, repellendus exercitationem dicta harum ab labore, voluptates explicabo in, quidem dolorum voluptas!
				</div>
				<div class="stylization f-block-modal f-block-modal-callback" id="f-block-modal-2">
					<div class="modalform">
						<form action="#" method="POST" class="form-validate">
							<p class="modalform-ttl">Callback</p>
							<input type="text" placeholder="Your name" data-required="text" name="name">
							<input type="text" placeholder="Your phone" data-required="text" name="phone">
							<button type="submit"><i class="fa fa-paper-plane"></i> Send</button>
						</form>
					</div>
				</div>
				<div class="stylization f-block-modal f-block-modal-video" id="f-block-modal-3">
					
				</div>
				<!-- <div class="stylization f-block-modal f-block-modal-map" id="f-block-modal-4">
					<div class="allstore-gmap">
						<div class="marker" data-zoom="15" data-lat="-37.81485261872975" data-lng="144.95655298233032" data-marker="assets/img/marker.png">534-540 Little Bourke St, Melbourne VIC 3000, Australia</div>
					</div>
				</div> -->
				<div class="f-delivery">
					<img src="assets/img/map.png" alt="">
					<h4>Free delivery in London</h4>
					<p>We will deliver within 1 hour</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container f-menu-list">
		<div class="row">
			<div class="f-menu">
				<h3>
					About us
				</h3>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Catalog</a></li>
					<li><a href="elements.html">Elements</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contacts.html">Contacts</a></li>
				</ul>
			</div>
			<div class="f-menu">
				<h3>
					Shop
				</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Women</a></li>
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Men</a></li>
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Kids</a></li>
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Shoes</a></li>
					<li><a href="javascript:void(0)" [routerLink]="['category-list']">Accessories</a></li>
				</ul>
			</div>
			<div class="f-menu">
				<h3>
					Information
				</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="blog.html">Blog</a></li>
					<li><a href="blog.html">News</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="blog.html">Articles</a></li>
					<li><a href="contacts.html">Contacts</a></li>
				</ul>
			</div>
			<div class="f-menu">
				<h3>
					Pages
				</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="contacts.html">About us</a></li>
					<li><a href="contacts.html">Delivery</a></li>
					<li><a href="contacts.html">Guarantees</a></li>
					<li><a href="contacts.html">Contacts</a></li>
					<li><a href="404.html">Page 404</a></li>
				</ul>
			</div>
			<div class="f-subscribe">
				<h3>Subscribe to news</h3>
				<form class="f-subscribe-form" action="#">
					<input placeholder="Your e-mail" type="text">
					<button type="submit"><i class="fa fa-paper-plane"></i></button>
				</form>
				<p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<ul class="social-icons nav navbar-nav">
					<li>
						<a href="http://facebook.com/" rel="nofollow" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="http://google.com/" rel="nofollow" target="_blank">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a href="http://twitter.com/" rel="nofollow" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="http://vk.com/" rel="nofollow" target="_blank">
							<i class="fa fa-vk"></i>
						</a>
					</li>
					<li>
						<a href="http://instagram.com/" rel="nofollow" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
				</ul>
				<div class="footer-copyright">
					<i><a href="https://themeforest.net/user/real-web?ref=real-web">Real-Web</a></i> © Copyright 2017
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- Footer - end -->